@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Display', sans-serif;
    vertical-align: baseline;
}

.marquee {
    height: 100px;
    position: absolute;
    animation: marquee-infinite 5s linear infinite;
}

.page {
    background: #F9F9F9;
    padding-top: 71px;
}

.page:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 71px;
    background: #171C22;
    top: 0;
}

                        /* HEADER */

header {
    width: 100%;
    min-width: 1200px;
    height: 70px;
    border-bottom: 1px solid rgba(229, 229, 229, 0.5);
    background: #171C22;
    color: #fff;
    z-index: 10;
    position: fixed;
    top: 0;
    transition: top 0.5s ease-in-out;
}

.nav-up {top: -72px;}

.headerContainer {
    height: 70px;
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    height: 100%;
    display: flex;
    align-items: center;
}

.headerLogoImg {
    width: 106px;
    height: 60px;
}

.headerMenu {
    font-weight: 200;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 100%;
}

.headerMenuItem {
    padding: 0 25px;
    height: 64px;
    position: relative;

}

.headerMenuItem:hover .headerMenuLinks {
    opacity: 1;
    transform: scale(1.1);
    transition: .2s;
}

#activeMenuItem a {
    opacity: 1;
    transform: scale(1.1);
}

#activeMenuItem:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #7E59C0;
}

.headerMenuLinks {
    display: flex;
    align-items: center;
    height: 100%;
    opacity: .5;
}

.headerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    height: 50px;
    width: 210px;
    border: 2px solid #171C22;
    border-radius: 5px;
    background: linear-gradient(94deg, #7E59C0, #573299);
    user-select: none;

}

.headerButton:hover {
    background: #171C22;
    border: 2px solid #7E59C0;
    transition: .3s;
}

.headerButton:active {
    transform: scale(.95);
}


                        /* MAIN */

main {
    width: 1160px;
    margin: 0 auto;
    padding: 60px 0;
    color: #171C22;
}

h1 {
    margin-bottom: 24px;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
}

h2 {
    margin: 48px 0 24px 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
}

p {
    margin-left: 40px;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
}

.an {
    margin: 0 0 24px 0;
}

span, a.ar {
    color: #171C22;
    border-bottom: 3px solid #7E59C0;
}

                        /* FOOTER */

footer {
    width: 100%;
    height: 209px;
    background: #171C22;
}

.footerContainer  {
    width: 1160px;
    margin: 0 auto;
}

.footerTopContainer {
    width: 100%;
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLogo {
    height: 100%;
    margin-right: 100px;
    display: flex;
    align-items: center;
}

.footerLogoImg {
    width: 106px;
    height: 60px;
}

.footerMenu {
    height: 100%;
    display: flex;
    align-items: center;
}

.footerIco {
    margin: 0 5px;
    cursor: pointer;
    user-select: none;
}

.facebookIco {
    height: 44px;
    width: 44px;
    background: url(../img/facebookIco.png) center/44px 44px no-repeat;
}

.facebookIco:hover {
    background: url(../img/facebookIcoActive.png) center/44px 44px no-repeat;
    transition: .1s;
}

.telegramIco {
    height: 44px;
    width: 44px;
    background: url(../img/telegramIco.png) center/44px 44px no-repeat;
}

.telegramIco:hover {
    background: url(../img/telegramIcoActive.png) center/44px 44px no-repeat;
    transition: .1s;
}

.whatsAppIco {
    height: 44px;
    width: 44px;
    background: url(../img/whatsAppIco.png) center/44px 44px no-repeat;
}

.whatsAppIco:hover {
    background: url(../img/whatsAppIcoActive.png) center/44px 44px no-repeat;
    transition: .1s;
}

.instagramIco {
    height: 44px;
    width: 44px;
    background: url(../img/instagramIco.png) center/44px 44px no-repeat;
}

.instagramIco:hover {
    background: url(../img/instagramIcoActive.png) center/44px 44px no-repeat;
    transition: .1s;
}

.footerMail {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.footerBottomContainer {
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.privacyPolicy {
    height: 21px;
    color: #7E59C0;
    font-size: 18;
}

.privacyPolicy:hover {
    color: #fff;
    transition: .3s;
}

#toTop {
    color: #fff;
    height: 37px;
    width: 172px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;;
    cursor: pointer;
    user-select: none;
}

.toTopIco {
    width: 15px;
    height: 37px;
    background: url(../img/toTopIco.png) center/15px 37px no-repeat;
}


                        /* OTHER */

.onSetTop {
    transition: .8s;
    transform: translate(0, -100px);
    opacity: 0;
}

.onSetRight {
    transition: .8s;
    transform: translate(100px, 0);
    opacity: 0;
}

.onSetRight2 {
    transition: .8s;
    transform: translate(100px, 0);
    transition-delay: .1s;
    opacity: 0;
}

.onSetRight3 {
    transition: .8s;
    transform: translate(100px, 0);
    transition-delay: .2s;
    opacity: 0;
}

.onSetRight4 {
    transition: .8s;
    transition-delay: .3s;
    transform: translate(100px, 0);
    opacity: 0;
}

.onSetRight5 {
    transition: .8s;
    transform: translate(100px, 0);
    transition-delay: .4s;
    opacity: 0;
}

.onSetRight6 {
    transition: .8s;
    transform: translate(100px, 0);
    transition-delay: .5s;
    opacity: 0;
}

.onSetBottom {
    transition: .8s;
    transform: translate(0, 100px);
    opacity: 0;
}

.onSetLeft {
    transition: .8s;
    transform: translate(-100px, 0);
    opacity: 0;
}

.onSetLeft2 {
    transition: .8s;
    transition-delay: .4s;
    transform: translate(-100px, 0);
    opacity: 0;
}

.active {
    transform: translate(0, 0);
    opacity: 1;
}

a {
    color: #FFF6F6;
    text-decoration: none;
}

::selection {color: #fff;background-color: #004fe4;}

ul{
    list-style: none;
}

::-webkit-input-placeholder {color:rgba(255,255,255,0.6);}
::-moz-placeholder          {color:rgba(255,255,255,0.6);}
:-moz-placeholder           {color:rgba(255,255,255,0.6);}
:-ms-input-placeholder      {color:rgba(255,255,255,0.6);}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
